.social-links-container {
    position: absolute;
    top: 50%;
    display: none;
    flex-direction: column;
    width: 48px;
    border-radius: 50px;
    gap: 5px;
    background-color: color(md-sys-color-surface);
    z-index: 2;
    box-shadow: 0 0 2px 0 color(md-sys-color-shadow, $alpha: -0.5);

    @include respond-to('medium') {
        display: flex;
        left: 10px;
    }

    @include respond-to('large') {
        left: 20px;
    }

    .social-icon {
        text-align: center;
        width: 48px;
        height: 48px;
        cursor: pointer;
        color: color(md-sys-color-on-surface);

        &:hover {
            background-color: color(md-sys-color-on-surface, $alpha: -0.95);
            border-radius: 50%;
        }
    }

    i {
        font-size: 24px;
        line-height: 48px;
    }
}