<script>
    const texts = [
        'Flutter',
        'Dart',
        'Android',
        'iOS',
        'Web',
        'Desktop',
        'FFI',
        'BLoC',
    ];

    const speed = 200;

    function typeWriter() {
        let i = 0;
        let j = 0;
        let currentText = '';
        let letter = '';
        let isDeleting = false;

        (function type() {
            if (i === texts.length) {
                i = 0;
            }

            currentText = texts[i];

            if (!isDeleting) {
                letter = currentText.slice(0, ++j);
            } else {
                letter = currentText.slice(0, --j);
            }

            document.querySelector('.home-first-section .typewriter-text').textContent = letter;

            if (letter.length === currentText.length && !isDeleting) {
                isDeleting = true;
                setTimeout(type, 1000);
            } else if (letter.length === 0 && isDeleting) {
                isDeleting = false;
                i++;
                j = 0;
                setTimeout(type, 500);
            } else {
                setTimeout(type, speed);
            }
        }());
    }

    window.onload = function () {
        typeWriter();
    }
</script>

<div class="home-column">

    <div class="home-first-section">
        {{ partial "shortcodes/figure.html" (dict "src" "/images/avatar.webp" "width" "200px" "height" "200px"
        "class" "home-first-section-avatar") }}
        <h2>{{ i18n "entrance-greeting" }}</h2>
        <div class="typewriter-content-container">
            <h3 class="typewriter-text"></h3>
            <span class="typewriter-cursor"></span>
        </div>
    </div>

</div>