<script>
    if (localStorage.getItem("pref-theme") === "dark") {
        document.body.classList.add('dark');
    } else if (localStorage.getItem("pref-theme") === "light") {
        document.body.classList.remove('dark')
    } else if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.body.classList.add('dark');
    }
</script>

<header class="site_main_menu_sidebar">
    <div class="site_main_menu_sidebar_title_container">
        <h2 class="site_main_menu_sidebar_title">{{ .Site.Title }}</h2>
        {{/* <button class="site_main_menu_sidebar_switcher"></button> */}}
    </div>
    <nav class="site_main_menu_sidebar_nav">
        {{ range .Site.Menus.main }}
        <a class="site_main_menu_sidebar_nav_section {{ if eq $.Params.ActiveTab .Identifier }}active{{ end }}"
            href="{{ .URL }}">{{.Name}}
        </a>
        {{ end }}
    </nav>
    <div></div>
</header>