<!DOCTYPE html>
<html lang="en">

<head>
    {{ $sass := resources.Get "sass/main.scss" }}
    {{ $options := dict "outputStyle" "compressed" "transpiler" "dartsass" }}
    {{ $style := $sass | resources.ToCSS | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,height=device-height initial-scale=1">
    <title>
        {{ with .Title }} {{ . }} {{ end }}
    </title>
</head>

<body class="list">
    <div class="body-row">
        {{ partial "header.html" . }}
        {{ block "main" . }} {{ end }}
    </div>
</body>

</html>