/* drawer */
.main_menu_drawer {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: color(md-sys-color-surface);
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 0 0 2px 0 color(md-sys-color-shadow, $alpha: -0.5);

    @include respond-to('medium') {
        display: none;
    }

    // close drawer button
    .drawer-close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px;
        color: color(md-sys-color-on-surface);
        cursor: pointer;
    }

    // main menu drawer nav
    .main_menu_drawer_nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        justify-content: center;
        gap: 10px;

        /* nav section destination */
        .main_menu_drawer_nav_section.active {
            color: color(md-sys-color-tertiary);
        }

        .main_menu_drawer_nav_section {
            @include headline-small();
            font-weight: 700;
            color: color(md-sys-color-on-surface);
        }
    }

    .main_menu_drawer_social {
        display: flex;
        gap: 30px;
        padding-top: 50px;

        .social-icon {
            border-radius: 50%;
            text-align: center;
            width: 36px;
            height: 36px;
            background-color: color(md-sys-color-secondary);
            cursor: pointer;
            color: color(md-sys-color-on-secondary);
        }

        i {
            font-size: 24px;
            line-height: 36px;
        }
    }
}