/* header */
.main_menu_header {
    position: sticky;
    margin-top: 10px;
    min-height: 48px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;

    /* header title (author title) */
    h1 {
        @include headline-medium();
        font-weight: 900;
        color: color(md-sys-color-on-background);
        text-align: center;
        flex: auto;

        @include respond-to('medium') {
            margin-left: 10px;
        }
    }

    /* header menu button */
    .header-menu-btn-container {
        margin-left: 10px;
        width: 48px;
        height: 48px;
        cursor: pointer;

        @include respond-to('medium') {
            display: none;
        }

        &:hover {
            border-radius: 50%;
            background-color: color(md-sys-color-on-background, $alpha: -0.95);
        }

        .header-menu-btn {
            color: color(md-sys-color-on-background);
            display: block;
            font-size: 24px;
            line-height: 48px;
            flex: 1;
            text-align: center;
        }
    }


    /* sections nav container  */
    .main_menu_header_nav {
        display: none;
        flex-direction: row;
        flex: 2;
        justify-content: end;

        @include respond-to('medium') {
            display: flex;
        }

        /* nav section destination */
        .main_menu_header_nav_section.active {
            color: color(md-sys-color-tertiary);
        }

        .main_menu_header_nav_section {
            @include headline-small();
            margin-right: 30px;
            font-weight: 700;
            color: color(md-sys-color-on-background);
        }
    }
}