@mixin display-large {
    font-family: $md-sys-typescale-display-large-font-family-name;
    font-style: $md-sys-typescale-display-large-font-family-style;
    font-weight: $md-sys-typescale-display-large-font-weight;
    font-size: $md-sys-typescale-display-large-font-size;
    letter-spacing: $md-sys-typescale-display-large-letter-spacing;
    line-height: $md-sys-typescale-display-large-line-height;
}

@mixin display-medium {
    font-family: $md-sys-typescale-display-medium-font-family-name;
    font-style: $md-sys-typescale-display-medium-font-family-style;
    font-weight: $md-sys-typescale-display-medium-font-weight;
    font-size: $md-sys-typescale-display-medium-font-size;
    letter-spacing: $md-sys-typescale-display-medium-letter-spacing;
    line-height: $md-sys-typescale-display-medium-line-height;
}

@mixin display-small {
    font-family: $md-sys-typescale-display-small-font-family-name;
    font-style: $md-sys-typescale-display-small-font-family-style;
    font-weight: $md-sys-typescale-display-small-font-weight;
    font-size: $md-sys-typescale-display-small-font-size;
    letter-spacing: $md-sys-typescale-display-small-letter-spacing;
    line-height: $md-sys-typescale-display-small-line-height;
}

@mixin headline-large {
    font-family: $md-sys-typescale-headline-large-font-family-name;
    font-style: $md-sys-typescale-headline-large-font-family-style;
    font-weight: $md-sys-typescale-headline-large-font-weight;
    font-size: $md-sys-typescale-headline-large-font-size;
    line-height: $md-sys-typescale-headline-large-line-height;
}

@mixin headline-medium {
    font-family: $md-sys-typescale-headline-medium-font-family-name;
    font-style: $md-sys-typescale-headline-medium-font-family-style;
    font-weight: $md-sys-typescale-headline-medium-font-weight;
    font-size: $md-sys-typescale-headline-medium-font-size;
    line-height: $md-sys-typescale-headline-medium-line-height;
}

@mixin headline-small {
    font-family: $md-sys-typescale-headline-small-font-family-name;
    font-style: $md-sys-typescale-headline-small-font-family-style;
    font-weight: $md-sys-typescale-headline-small-font-weight;
    font-size: $md-sys-typescale-headline-small-font-size;
    line-height: $md-sys-typescale-headline-small-line-height;
}

@mixin body-large {
    font-family: $md-sys-typescale-body-large-font-family-name;
    font-style: $md-sys-typescale-body-large-font-family-style;
    font-weight: $md-sys-typescale-body-large-font-weight;
    font-size: $md-sys-typescale-body-large-font-size;
    line-height: $md-sys-typescale-body-large-line-height;
}

@mixin body-medium {
    font-family: $md-sys-typescale-body-medium-font-family-name;
    font-style: $md-sys-typescale-body-medium-font-family-style;
    font-weight: $md-sys-typescale-body-medium-font-weight;
    font-size: $md-sys-typescale-body-medium-font-size;
    line-height: $md-sys-typescale-body-medium-line-height;
}

@mixin body-small {
    font-family: $md-sys-typescale-body-small-font-family-name;
    font-style: $md-sys-typescale-body-small-font-family-style;
    font-weight: $md-sys-typescale-body-small-font-weight;
    font-size: $md-sys-typescale-body-small-font-size;
    line-height: $md-sys-typescale-body-small-line-height;
}

@mixin label-large {
    font-family: $md-sys-typescale-label-large-font-family-name;
    font-style: $md-sys-typescale-label-large-font-family-style;
    font-weight: $md-sys-typescale-label-large-font-weight;
    font-size: $md-sys-typescale-label-large-font-size;
    line-height: $md-sys-typescale-label-large-line-height;
}

@mixin label-medium {
    font-family: $md-sys-typescale-label-medium-font-family-name;
    font-style: $md-sys-typescale-label-medium-font-family-style;
    font-weight: $md-sys-typescale-label-medium-font-weight;
    font-size: $md-sys-typescale-label-medium-font-size;
    line-height: $md-sys-typescale-label-medium-line-height;
}

@mixin label-small {
    font-family: $md-sys-typescale-label-small-font-family-name;
    font-style: $md-sys-typescale-label-small-font-family-style;
    font-weight: $md-sys-typescale-label-small-font-weight;
    font-size: $md-sys-typescale-label-small-font-size;
    line-height: $md-sys-typescale-label-small-line-height;
}

@mixin title-large {
    font-family: $md-sys-typescale-title-large-font-family-name;
    font-style: $md-sys-typescale-title-large-font-family-style;
    font-weight: $md-sys-typescale-title-large-font-weight;
    font-size: $md-sys-typescale-title-large-font-size;
    line-height: $md-sys-typescale-title-large-line-height;
}

@mixin title-medium {
    font-family: $md-sys-typescale-title-medium-font-family-name;
    font-style: $md-sys-typescale-title-medium-font-family-style;
    font-weight: $md-sys-typescale-title-medium-font-weight;
    font-size: $md-sys-typescale-title-medium-font-size;
    line-height: $md-sys-typescale-title-medium-line-height;
}

@mixin title-small {
    font-family: $md-sys-typescale-title-small-font-family-name;
    font-style: $md-sys-typescale-title-small-font-family-style;
    font-weight: $md-sys-typescale-title-small-font-weight;
    font-size: $md-sys-typescale-title-small-font-size;
    line-height: $md-sys-typescale-title-small-line-height;
}