.myself-about {
    display: block;
    margin: 0 auto !important;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}

.cv-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
}