<div class="main_menu_drawer">
    <span class="drawer-close-btn" onclick="closeDrawer()">
        <i class="icon-clear"></i>
    </span>
    {{ partial "social.html" (dict "context" . "class" "main_menu_drawer_social") }}

    <nav class="main_menu_drawer_nav">
        {{ range .Site.Menus.main }}
        <a class="main_menu_drawer_nav_section {{ if eq $.Params.ActiveTab .Identifier }}active{{ end }}"
            href="{{ .URL | relLangURL }}">{{ .Name }}</a>
        {{ end }}
    </nav>
</div>