<div class="{{ .class }}">
    {{ if isset .context.Site.Params "github" }}
    {{ partial "social-icon.html" (dict "context" . "icon" "github" "url" .context.Site.Params.Github
    "spanclass" "social-icon") }}
    {{ end }}

    {{ if isset .context.Site.Params "linkedin" }}
    {{ partial "social-icon.html" (dict "context" . "icon" "linkedin" "url" .context.Site.Params.Linkedin
    "spanclass" "social-icon") }}
    {{ end }}

    {{ if isset .context.Site.Params "twitter" }}
    {{ partial "social-icon.html" (dict "context" . "icon" "twitter" "url" .context.Site.Params.Twitter
    "spanclass" "social-icon") }}
    {{ end }}

    {{ if isset .context.Site.Params "telegram" }}
    {{ partial "social-icon.html" (dict "context" . "icon" "telegram" "url" .context.Site.Params.Telegram
    "spanclass" "social-icon") }}
    {{ end }}

    {{ if isset .context.Site.Params "gmail" }}
    {{ partial "social-icon.html" (dict "context" . "icon" "gmail" "url" .context.Site.Params.Gmail
    "spanclass" "social-icon") }}
    {{ end }}
</div>