/* header */
.site_main_menu_header {
    margin-top: 20px;
    position: sticky;
    width: 100%;
    display: none;

    @include respond-to('medium') {
        display: flex;
    }

    h1 {
        @include headline-medium();
        font-weight: 900;
        color: var(--md-sys-color-on-background);
        text-align: center;
        flex: 1;
        margin-left: 10px;
    }
}

/* sections nav container  */
.site_main_menu_header_nav {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    flex: 2;
}

/* nav section destination */
.site_main_menu_header_nav_section.active {
    color: var(--md-sys-color-tertiary);
}

.site_main_menu_header_nav_section {
    @include headline-small();
    margin-right: 30px;
    font-weight: 700;
    color: var(--md-sys-color-on-background);
}