/* header */
.site_main_menu_header {
    position: sticky;
    min-height: 48px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;

    /* header title (author title) */
    h1 {
        @include headline-medium();
        font-weight: 900;
        color: var(--md-sys-color-on-background);
        text-align: center;
        flex: 1;

        @include respond-to('medium') {
            margin-left: 10px;
        }
    }

    /* header menu button */
    .header-menu-btn-container {
        width: 48px;
        height: 48px;

        @include respond-to('medium') {
            display: none;
        }

        .header-menu-btn {
            color: var(--md-sys-color-on-background);
            line-height: 48px;
            display: block;
            font-size: 24px;
            flex: 1;
            text-align: center;
        }
    }

    /* sections nav container  */
    .site_main_menu_header_nav {
        display: none;
        flex-direction: row;
        flex: 2;
        justify-content: end;

        @include respond-to('medium') {
            display: flex;
        }

        /* nav section destination */
        .site_main_menu_header_nav_section.active {
            color: var(--md-sys-color-tertiary);
        }

        .site_main_menu_header_nav_section {
            @include headline-small();
            margin-right: 30px;
            font-weight: 700;
            color: var(--md-sys-color-on-background);
        }
    }
}