.coming-soon__title {
    font-weight: 600;
    font-family: $fontFamily;
    margin: 0px;
}

.coming-soon__description {
    font-family: $fontFamily;
    font-weight: 300;
    margin: 0px;
}

.coming-soon__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}