.header {
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav__section {
    border: none;
    text-decoration: none;
    color: inherit;
    padding: 10px;
}

.header__nav__section__active {
    color: blue
}